!= partial("_header")
main
  section.hero
    h1 Kevin Adu-Sarkodie
  section
    .l-1-column-grid
      figure.project-card.project-tokyo
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Tokyo, Japan
      figure.project-card.project-yokohama
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Yokohama, Japan
      figure.project-card.project-hiroshima
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Hiroshima, Japan
      figure.project-card.project-hong-kong
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Hong Kong, China
