header
  nav.nav
    ul.nav-menu
      li.nav-item
        a Photos
      li.nav-item
        a About Me
      li.nav-item
        a Contact Me
main
  section.hero
    h1 Kevin Adu-Sarkodie
  section
    article.project-card
      .project-description
        .project-card-title Tokyo
        .project-card-sub-title Japan
    article.project-card
      .project-description
        .project-card-title Yokohama
        .project-card-sub-title Japan
    article.project-card
      .project-description
        .project-card-title Hiroshima
        .project-card-sub-title Japan
    article.project-card
      .project-description
        .project-card-title Hong Kong
        .project-card-sub-title China
