header
  nav.nav
    ul.nav-menu
      li.nav-item
        a(href="/photos.html") Photos
      li.nav-item
        a(href="/about.html") About Me
main
  section.hero
    h1 Kevin Adu-Sarkodie
  section
    .l-2-column-grid
      figure.project-card.project-tokyo
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Tokyo, Japan
          p.project-card-sub-title
      figure.project-card.project-yokohama
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Yokohama, Japan
          p.project-card-sub-title
      figure.project-card.project-hiroshima
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Hiroshima, Japan
          p.project-card-sub-title
      figure.project-card.project-hong-kong
        img.project-card-image
        figcaption.project-description
          h2.project-card-title Hong Kong, China
          p.project-card-sub-title
