@import "scss/base/base";
@import "scss/base/typography";


.nav-menu {
  padding: 1.5rem 0.75rem;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}
