header
  nav.nav
    ul.nav-menu
      li.nav-item
        a(href="/photos.html") Photos
      li.nav-item
        a About Me
      li.nav-item
        a Contact Me
main
  section
    for image in public.images._contents
      img.photo(src="images/#{ image }")
