.hero {
  margin: 0;
  height: calc(100vh - 4.8rem);
  background-image: url("../images/torii.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #fafafa;
  padding: 0;
  text-align: center;
}
