.hero {
  margin: 0;
  max-width: 100vw;
  color: #fafafa;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: calc(100vh);

  > h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50% - #{$h1-font-size});
    width: 100%;
  }
}

.hero-img {
  @keyframes zoom-in {
    0% {
      transform: scale(1.5);
    }

    100% {
      transform: scale(1);
    }
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: calc(100vh);
  animation: zoom-in 20s linear;
}


@media (max-width: 620px) {
  .hero > h1 {
    font-size: 3.583rem;
  }
}
