.nav {
  height: $navbar-height;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: $nav-background-color;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: $nav-menu-font-size;
}

.nav-item {
  list-style: none;
  margin: $nav-item-margin;

  > a {
    text-decoration: none;
    color: $nav-color;
  }

  &:last-child {
    margin-right: 0;
  }
}
