.project-card {
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 0.9rem 0.6rem 2.4rem 0.6rem;
  background-color: #f9fefd;
  margin-bottom: 3rem;
}

.project-card-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.project-tokyo {
  .project-card-image {
    background-image: url("/images/tokyo-station.jpg");
  }
}

.project-yokohama {
  .project-card-image {
    background-image: url("/images/yokohama.jpg");
  }
}

.project-hiroshima {
  .project-card-image {
    background-image: url("/images/torii.jpg");
  }
}

.project-hong-kong {
  .project-card-image {
    background-image: url("/images/kowloon.jpg");
  }
}

.project-description {
  color: #fafafa;
  font-family: "Lato", sans-serif;
  position: absolute;
  z-index: 2;
  top: calc(50% - (3.583rem / 2));
  width: 100%;
  text-align: center;
}
