html {
  box-sizing: border-box;
  font-size: $base-font-size;
  overflow: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  background: $body-background-color;
  color: $body-color;
  margin: 0 auto;
}

figure {
  margin: 0;
}

section {
  padding: 3rem 0;
  max-width: 1280px;
  margin: 0 auto;
}
