//1. Global
//2. Typography
//3. Project Card
//13. Nav

//1. Global
// --------

$body-background-color: #fafafa !default;
$body-color: #fafafa !default;
$global-max-width: 1280px !default;

//2. Typography
// ------------

$serif-font-family: "Merriweather", serif !default;
$sans-serif-font-family: "Lato", sans-serif !default;

$base-font-size: 14px !default;
$base-line-height: 1.4 !default;

$header-font-family: $sans-serif-font-family;
$header-margin-bottom: 0 0 1rem !default;
$header-line-height: 1.2 !default;

$paragraph-margin-bottom: 0 0 1.44rem !default;

$h1-font-size: 5.16rem !default;
$h2-font-size: 3.583rem !default;
$h3-font-size: 1.44rem !default;
$h4-font-size: 1.2rem !default;
$paragraph-font-size: 1rem !default;

// // 13. Navs
// // --------
$nav-background-color: $body-background-color !default;
$navbar-height: 4.8rem !default;
$nav-menu-font-size: 1.44rem !default;
$nav-item-margin: 0 2rem 0 0 !default;
$nav-color: #121212;

// 3. Project Cards
// --------
