extends layout

block content
  include header
  main
    section.about-me
      .l-2-3-column-grid
        img(src="images/kevin-adu.jpg")
        div
          p Hello my name is Kevin and I'm web developer based in Yokohama, Japan and I'm originally from London, England. I've been in Japan since December 2014 and after been dumbfounded by the beauty for so long, in 2016 I decided to use photography as a means to capture and share what I experience.
          p After getting into photography, I wanted to share as many of my experiences as I could, not just in Japan but from other countries I have travelled to. Although I've started very recently and still learning the basics of photography, I hope I can share my experiences with as many people as possible with this blog.
          p You can also find me here:
  include footer
