extends layout

block content
  include header
  main
    section.about-me
      .l-2-3-column-grid
        img(src="http://res.cloudinary.com/dz8vyplpm/image/upload/v1495110270/photo-blog/kevin-adu_xshkue.jpg" alt="Kevin Adu-Sarkodie holding a camera in Spring in Japan")
        .description
          h2 Bio
          p Hello my name is Kevin and I'm web developer based in Yokohama, Japan and I'm originally from London, England. I've been in Japan since December 2014 and after been dumbfounded by the beauty for so long, in 2016 I decided to use photography as a means to capture and share what I have seen and experienced.
          p After getting into photography, I wanted to share as many of my experiences as I could, not just from Japan but from other countries I have travelled to. Although I've started very recently and still learning the basics of photography, I hope I can share my experiences with as many people as possible with this blog.
          h2 Contact
          .icon-row
            a(href="https://www.instagram.com/kevinadu89/")
              i.icon.icon-instagram
            a(href="https://500px.com/kevyugi")
              i.icon.icon-500px
            a(href="https://www.facebook.com/KevAdu")
              i.icon.icon-facebook-squared
  include footer
