header
  nav.nav.no-logo
    ul.nav-menu
      li.nav-item
        a(href="./") Home
      li.nav-item
        a(href="./#my-projects") My Projects
      li.nav-item
        a(href="about.html") About Me
