extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110302/photo-blog/torii_cbb2qs.jpg' data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400/v1495110302/photo-blog/torii_cbb2qs.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110302/photo-blog/torii_cbb2qs.jpg 700")
        img.lazyload(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400/v1495110302/photo-blog/torii_cbb2qs.jpg' alt="Quintessential Japan")
      li.photo(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110302/photo-blog/relaxing-deer_akzk5f.jpg' data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400/v1495110302/photo-blog/relaxing-deer_akzk5f.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110302/photo-blog/relaxing-deer_akzk5f.jpg 700")
        img.lazyload(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400/v1495110302/photo-blog/relaxing-deer_akzk5f.jpg' alt="Resting Deer")
      li.photo(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110288/photo-blog/miyajima-tranquility_qxccdg.jpg' data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400/v1495110288/photo-blog/miyajima-tranquility_qxccdg.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110288/photo-blog/miyajima-tranquility_qxccdg.jpg 700")
        img.lazyload(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400/v1495110288/photo-blog/miyajima-tranquility_qxccdg.jpg' alt="Miyajima Tranquility")
