extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li(data-src='images/torii.jpg')
        img.photo(src='images/torii.jpg')
      li(data-src='images/relaxing-deer.jpg')
        img.photo(src='images/relaxing-deer.jpg')
      li(data-src='images/miyajima-tranquility.jpg')
        img.photo(src='images/miyajima-tranquility.jpg')
