extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='images/torii.jpg' data-msg="Quintessential Japan")
        img.lazyload(data-src='images/torii.jpg' alt="Quintessential Japan")
      li.photo(data-src='images/relaxing-deer.jpg' data-msg="Resting Deer")
        img.lazyload(data-src='images/relaxing-deer.jpg' alt="Resting Deer")
      li.photo(data-src='images/miyajima-tranquility.jpg' data-msg="Miyajima Tranquility")
        img.lazyload(data-src='images/miyajima-tranquility.jpg' alt="Miyajima Tranquility")
