extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='images/torii.jpg' data-responsive="images/torii-400w.jpg 500, images/torii-600w.jpg 700" data-msg="Quintessential Japan")
        img.lazyload(data-src='images/torii-400w.jpg' alt="Quintessential Japan")
      li.photo(data-src='images/relaxing-deer.jpg' data-responsive="images/relaxing-deer-400w.jpg 500, images/relaxing-deer-600w.jpg 700" data-msg="Resting Deer")
        img.lazyload(data-src='images/relaxing-deer-400w.jpg' alt="Resting Deer")
      li.photo(data-src='images/miyajima-tranquility.jpg' data-responsive="images/miyajima-tranquility-400w.jpg 500, images/miyajima-tranquility-600w.jpg 700" data-msg="Miyajima Tranquility")
        img.lazyload(data-src='images/miyajima-tranquility-400w.jpg' alt="Miyajima Tranquility")
