extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='images/kowloon-colours-2.jpg' data-msg="Colours of Kowloon II")
        img.lazyload(data-src='images/kowloon-colours-2.jpg' alt="Colours of Kowloon II")
      li.photo(data-src='images/bamboo-scaffolding.jpg' data-msg="Bamboo Scaffolding")
        img.lazyload(data-src='images/bamboo-scaffolding.jpg' alt="Bamboo Scaffolding")
      li.photo(data-src='images/colour-overload.jpg' data-msg="Colour Overload")
        img.lazyload(data-src='images/colour-overload.jpg' alt="Colour Overload")
      li.photo(data-src='images/bird-couple.jpg' data-msg="Couple")
        img.lazyload(data-src='images/bird-couple.jpg' alt="Couple")
      li.photo(data-src='images/into-the-light.jpg' data-msg="Into the Light")
        img.lazyload(data-src='images/into-the-light.jpg' alt="Into the Light")
      li.photo(data-src='images/eight-statue.jpg' data-msg="Eight")
        img.lazyload(data-src='images/eight-statue.jpg' alt="Eight")
      li.photo(data-src='images/green-hong-kong.jpg' data-msg="Green Hong Kong")
        img.lazyload(data-src='images/green-hong-kong.jpg' alt="Green Hong Kong")
      li.photo(data-src='images/kowloon-colours.jpg' data-msg="Colours of Kowloon")
        img.lazyload(data-src='images/kowloon-colours.jpg' alt="Colours of Kowloon")
      li.photo(data-src='images/balconies.jpg' data-msg="Balconies")
        img.lazyload(data-src='images/balconies.jpg' alt="Balconies")
      li.photo(data-src='images/night-colours.jpg' data-msg="Colours in the Night")
        img.lazyload(data-src='images/night-colours.jpg' alt="Colours in the Night")
      li.photo(data-src='images/skyscraper.jpg' data-msg="Skyscraper")
        img.lazyload(data-src='images/skyscraper.jpg' alt="Skyscraper")
      li.photo(data-src='images/symmetry.jpg' data-msg="Symmetry")
        img.lazyload(data-src='images/symmetry.jpg' alt="Symmetry")
  include footer
