extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li(data-src='images/kowloon-colours-2.jpg')
        img.photo(src='images/kowloon-colours-2.jpg')
      li(data-src='images/bamboo-scaffolding.jpg')
        img.photo(src='images/bamboo-scaffolding.jpg')
      li(data-src='images/colour-overload.jpg')
        img.photo(src='images/colour-overload.jpg')
      li(data-src='images/bird-couple.jpg')
        img.photo(src='images/bird-couple.jpg')
      li(data-src='images/into-the-light.jpg')
        img.photo(src='images/into-the-light.jpg')
      li(data-src='images/eight-statue.jpg')
        img.photo(src='images/eight-statue.jpg')
      li(data-src='images/green-hong-kong.jpg')
        img.photo(src='images/green-hong-kong.jpg')
      li(data-src='images/kowloon-colours.jpg')
        img.photo(src='images/kowloon-colours.jpg')
      li(data-src='images/balconies.jpg')
        img.photo(src='images/balconies.jpg')
      li(data-src='images/night-colours.jpg')
        img.photo(src='images/night-colours.jpg')
      li(data-src='images/skyscraper.jpg')
        img.photo(src='images/skyscraper.jpg')
      li(data-src='images/symmetry.jpg')
        img.photo(src='images/symmetry.jpg')
  include footer
