extends layout

block content
  include header
  main
    .l-3-column-grid
      img(src='images/bamboo-scaffolding.jpg')
      img(src='images/bird-couple.jpg')
      img(src='images/christmas-colours.jpg')
      img(src='images/colour-overload.jpg')
      img(src='images/eight-statue.jpg')
      img(src='images/green-hong-kong.jpg')
      img(src='images/hong-kong-apartment.jpg')
      img(src='images/hong-kong-balconies.jpg')
      img(src='images/hong-kong-night-colours.jpg')
      img(src='images/hong-kong-night-skyscraper.jpg')
      img(src='images/into-the-light.jpg')
      img(src='images/kowloon-colours.jpg')
      img(src='images/kowloon-colours-2.jpg')
      img(src='images/kowloon.jpg')
      img(src='images/port-town.jpg')
      img(src='images/symmetry.jpg')
