extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='images/kowloon-colours-2.jpg' data-responsive="images/kowloon-colours-2-400w.jpg 500, images/kowloon-colours-2-600w.jpg 700")
        img.lazyload(data-src='images/kowloon-colours-2-400w.jpg' alt="Colours of Kowloon II")
      li.photo(data-src='images/bamboo-scaffolding.jpg' data-responsive="images/bamboo-scaffolding-400w.jpg 500, images/bamboo-scaffolding-600w.jpg 700")
        img.lazyload(data-src='images/bamboo-scaffolding-400w.jpg' alt="Bamboo Scaffolding")
      li.photo(data-src='images/colour-overload.jpg' data-responsive="images/colour-overload-400w.jpg 500, images/colour-overload-600w.jpg 700")
        img.lazyload(data-src='images/colour-overload-400w.jpg' alt="Colour Overload")
      li.photo(data-src='images/bird-couple.jpg' data-responsive="images/bord-couple-400w.jpg 500, images/bord-couple-600w.jpg 700")
        img.lazyload(data-src='images/bird-couple-400w.jpg' alt="Couple")
      li.photo(data-src='images/into-the-light.jpg' data-responsive="images/into-the-light-400w.jpg 500, images/into-the-light-600w.jpg 700")
        img.lazyload(data-src='images/into-the-light-400w.jpg' alt="Into the Light")
      li.photo(data-src='images/eight-statue.jpg' data-responsive="images/eight-statue-400w.jpg 500, images/eight-statue-600w.jpg 700")
        img.lazyload(data-src='images/eight-statue-400w.jpg' alt="Eight")
      li.photo(data-src='images/green-hong-kong.jpg' data-responsive="images/green-hong-kong-400w.jpg 500, images/green-hong-kong-600w.jpg 700")
        img.lazyload(data-src='images/green-hong-kong-400w.jpg' alt="Green Hong Kong")
      li.photo(data-src='images/kowloon-colours.jpg' data-responsive="images/kowloon-colours-400w.jpg 500, images/kowloon-colours-600w.jpg 700")
        img.lazyload(data-src='images/kowloon-colours-400w.jpg' alt="Colours of Kowloon")
      li.photo(data-src='images/balconies.jpg' data-responsive="images/balconies-400w.jpg 500, images/balconies-600w.jpg 700")
        img.lazyload(data-src='images/balconies-400w.jpg' alt="Balconies")
      li.photo(data-src='images/night-colours.jpg' data-responsive="images/night-colours-400w.jpg 500, images/night-colours-600w.jpg 700")
        img.lazyload(data-src='images/night-colours-400w.jpg' alt="Colours in the Night")
      li.photo(data-src='images/skyscraper.jpg' data-responsive="images/skyscraper-400w.jpg 500, images/skyscraper-600w.jpg 700")
        img.lazyload(data-src='images/skyscraper-400w.jpg' alt="Skyscraper")
      li.photo(data-src='images/symmetry.jpg' data-responsive="images/symmetry-400w.jpg 500, images/symmetry-600w.jpg 700")
        img.lazyload(data-src='images/symmetry-400w.jpg' alt="Symmetry")
  include footer
