extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li(data-src='images/bamboo-scaffolding.jpg')
        img(src='images/bamboo-scaffolding.jpg')
      li(data-src='images/bird-couple.jpg')
        img(src='images/bird-couple.jpg')
      li(data-src='images/christmas-colours.jpg')
        img(src='images/christmas-colours.jpg')
      li(data-src='images/colour-overload.jpg')
        img(src='images/colour-overload.jpg')
      li(data-src='images/eight-statue.jpg')
        img(src='images/eight-statue.jpg')
      li(data-src='images/green-hong-kong.jpg')
        img(src='images/green-hong-kong.jpg')
      li(data-src='images/hong-kong-apartment.jpg')
        img(src='images/hong-kong-apartment.jpg')
      li(data-src='images/hong-kong-balconies.jpg')
        img(src='images/hong-kong-balconies.jpg')
      li(data-src='images/hong-kong-night-colours.jpg')
        img(src='images/hong-kong-night-colours.jpg')
      li(data-src='images/hong-kong-skyscraper.jpg')
        img(src='images/hong-kong-skyscraper.jpg')
      li(data-src='images/into-the-light.jpg')
        img(src='images/into-the-light.jpg')
      li(data-src='images/kowloon-colours.jpg')
        img(src='images/kowloon-colours.jpg')
      li(data-src='images/kowloon-colours-2.jpg')
        img(src='images/kowloon-colours-2.jpg')
      li(data-src='images/kowloon.jpg')
        img(src='images/kowloon.jpg')
      li(data-src='images/port-town.jpg')
        img(src='images/port-town.jpg')
      li(data-src='images/symmetry.jpg')
        img(src='images/symmetry.jpg')
