extends layout

block content
  include header
  main
    section.hero
      h1 Kevin Adu-Sarkodie
    section#my-projects
      .l-2-column-grid
        figure.project-card.project-tokyo
          a(href="/tokyo.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Tokyo, Japan
        figure.project-card.project-yokohama
          a(href="/yokohama.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Yokohama, Japan
        figure.project-card.project-hiroshima
          a(href="/hiroshima.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Hiroshima, Japan
        figure.project-card.project-hong-kong
          a(href="/hong-kong.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Hong Kong, China
