extends layout

block content
  include header-hero
  main
    section.hero
      picture
        source(media="(max-width: 499px)" srcset="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_800,q_70/v1500295214/Miyajima_Tranquility-crop_hkyiqo.jpg")
        source(media="(max-width: 799px)" srcset="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_1280,q_70/v1500294812/Miyajima_Tranquility_j7bbdn.jpg")
        source(media="(min-width: 800px)" srcset="http://res.cloudinary.com/dz8vyplpm/image/upload/q_70/v1500294812/Miyajima_Tranquility_j7bbdn.jpg")
        img.hero-img(src="http://res.cloudinary.com/dz8vyplpm/image/upload/q_70/v1500294812/Miyajima_Tranquility_j7bbdn.jpg" alt="Hero image of the Torii gate at Miyajima")
      h1 Kevin Adu-Sarkodie
    section#my-projects
      .l-2-column-grid
        figure.project-card.project-tokyo
          a(href="tokyo.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Tokyo, Japan
        figure.project-card.project-yokohama
          a(href="yokohama.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Yokohama, Japan
        figure.project-card.project-hiroshima
          a(href="hiroshima.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Hiroshima, Japan
        figure.project-card.project-hong-kong
          a(href="hong-kong.html")
            img.project-card-image
            figcaption.project-description
              h2.project-card-title Hong Kong, China
  include footer
