doctype
html(lang="en")
  head
    title Kevin Adu's Photography
    link(href="https://fonts.googleapis.com/css?family=Caveat|Lato:300,400" rel="stylesheet")
    link(rel="stylesheet" href="/main.css")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(charset="utf-8")
  body
    block content
    script(type="text/javascript" src="/main.min.js")
