extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='images/tokyo-river.jpg' data-responsive="images/tokyo-river-400w.jpg 500, images/tokyo-river-600w.jpg 700" data-msg="City life by the Autumn River")
        img.lazyload(data-src='images/tokyo-river-400w.jpg' alt="City life by the Autumn River")
      li.photo(data-src='images/shinjuku-ninnin.jpg' data-responsive="images/shinjuku-ninnin-400w.jpg 500, images/shinjuku-ninnin-600w.jpg 700" data-msg="Ninnin in Shinjuku")
        img.lazyload(data-src='images/shinjuku-ninnin-400w.jpg' alt="Ninnin in Shinjuku")
      li.photo(data-src='images/autumn-tokyo-flower.jpg' data-responsive="images/autumn-tokyo-flower-400w.jpg 500, images/autumn-tokyo-flower-600w.jpg 700" data-msg="Dusk Flower")
        img.lazyload(data-src='images/autumn-tokyo-flower-400w.jpg' alt="Dusk Flower")
  include footer
