extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='images/tokyo-river.jpg' data-msg="City life by the Autumn River")
        img.lazyload(data-src='images/tokyo-river.jpg' alt="City life by the Autumn River")
      li.photo(data-src='images/shinjuku-ninnin.jpg' data-msg="Ninnin in Shinjuku")
        img.lazyload(data-src='images/shinjuku-ninnin.jpg' alt="Ninnin in Shinjuku")
      li.photo(data-src='images/autumn-tokyo-flower.jpg' data-msg="Dusk Flower")
        img.lazyload(data-src='images/autumn-tokyo-flower.jpg' alt="Dusk Flower")
  include footer
