extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li(data-src='images/tokyo-river.jpg')
        img.photo(src='images/tokyo-river.jpg')
      li(data-src='images/shinjuku-ninnin.jpg')
        img.photo(src='images/shinjuku-ninnin.jpg')
      li(data-src='images/autumn-tokyo-flower.jpg')
        img.photo(src='images/autumn-tokyo-flower.jpg')
