extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110310/photo-blog/tokyo-river_ccelkv.jpg' data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_50/v1495110310/photo-blog/tokyo-river_ccelkv.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110310/photo-blog/tokyo-river_ccelkv.jpg 700")
        img.lazyload(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_50/v1495110310/photo-blog/tokyo-river_ccelkv.jpg' alt="City life by the Autumn River")
      li.photo(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110301/photo-blog/shinjuku-ninnin_flszl5.jpg' data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_50/v1495110301/photo-blog/shinjuku-ninnin_flszl5.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110301/photo-blog/shinjuku-ninnin_flszl5.jpg 700")
        img.lazyload(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_50/v1495110301/photo-blog/shinjuku-ninnin_flszl5.jpg' alt="Ninnin in Shinjuku")
      li.photo(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110260/photo-blog/autumn-tokyo-flower_gburmw.jpg' data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_50/v1495110260/photo-blog/autumn-tokyo-flower_gburmw.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110260/photo-blog/autumn-tokyo-flower_gburmw.jpg 700")
        img.lazyload(data-src='http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_50/v1495110260/photo-blog/autumn-tokyo-flower_gburmw.jpg' alt="Dusk Flower")
  include footer
