extends layout

block content
  include header
  main
    .l-3-column-grid
      img(src='images/bandobashi-park.jpg')
      img(src='images/hidden-cat.jpg')
      img(src='images/yokohama.jpg')
      img(src='images/yokohama-sunset.jpg')
