extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110263/photo-blog/yokohama/bandobashi-park_c2syc3.jpg" data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110263/photo-blog/yokohama/bandobashi-park_c2syc3.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110263/photo-blog/yokohama/bandobashi-park_c2syc3.jpg 700")
        img.lazyload(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110263/photo-blog/yokohama/bandobashi-park_c2syc3.jpg" alt="Local Park in Yokohama")
      li.photo(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110297/photo-blog/yokohama/paifang_kgbb36.jpg" data-responsive="http://res.http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110263/photo-blog/yokohama/bandobashi-park_c2syc3.jpgpload/c_scale,w_400,q_93/v1495110297/photo-blog/yokohama/paifang_kgbb36.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110297/photo-blog/yokohama/paifang_kgbb36.jpg 700")
        img.lazyload(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110297/photo-blog/yokohama/paifang_kgbb36.jpg" alt="Paifang")
      li.photo(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110276/photo-blog/yokohama/hidden-cat_fz0kuw.jpg" data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110276/photo-blog/yokohama/hidden-cat_fz0kuw.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110276/photo-blog/yokohama/hidden-cat_fz0kuw.jpg 700")
        img.lazyload(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110276/photo-blog/yokohama/hidden-cat_fz0kuw.jpg" alt="Peek a Boo!")
      li.photo(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110313/photo-blog/yokohama/zen_rsdjzk.jpg" data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110313/photo-blog/yokohama/zen_rsdjzk.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110313/photo-blog/yokohama/zen_rsdjzk.jpg 700")
        img.lazyload(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110313/photo-blog/yokohama/zen_rsdjzk.jpg" alt="Zen")
      li.photo(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110304/photo-blog/yokohama/yokohama-scenery_jfygle.jpg" data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110304/photo-blog/yokohama/yokohama-scenery_jfygle.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110304/photo-blog/yokohama/yokohama-scenery_jfygle.jpg 700")
        img.lazyload(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110304/photo-blog/yokohama/yokohama-scenery_jfygle.jpg" alt="Overlook of Yokohama City")
      li.photo(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/q_93/v1495110310/photo-blog/yokohama/yokohama-sunset_zdrgjk.jpg" data-responsive="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110310/photo-blog/yokohama/yokohama-sunset_zdrgjk.jpg 500, http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_600/v1495110310/photo-blog/yokohama/yokohama-sunset_zdrgjk.jpg 700")
        img.lazyload(data-src="http://res.cloudinary.com/dz8vyplpm/image/upload/c_scale,w_400,q_93/v1495110310/photo-blog/yokohama/yokohama-sunset_zdrgjk.jpg" alt="Sunset")
  include footer
