extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li(data-src='images/bandobashi-park.jpg')
        img.photo(src='images/bandobashi-park.jpg')
      li(data-src='images/paifang.jpg')
        img.photo(src='images/paifang.jpg')
      li(data-src='images/hidden-cat.jpg')
        img.photo(src='images/hidden-cat.jpg')
      li(data-src='images/zen.jpg')
        img.photo(src='images/zen.jpg')
      li(data-src='images/yokohama-scenery.jpg')
        img.photo(src='images/yokohama-scenery.jpg')
      li(data-src='images/yokohama-sunset.jpg')
        img.photo(src='images/yokohama-sunset.jpg')
