extends layout

block content
  include header
  main
    ul#ul-li.l-3-column-grid
      li.photo(data-src="images/bandobashi-park.jpg" data-responsive="images/bandobashi-park-400w.jpg 500, images/bandobashi-park-600w.jpg 700")
        img.lazyload(data-src="images/bandobashi-park-400w.jpg" alt="Local Park in Yokohama")
      li.photo(data-src="images/paifang-400w.jpg" data-responsive="images/paifang-400w.jpg 500, images/paifang-600w.jpg 700")
        img.lazyload(data-src="images/paifang-400w.jpg" alt="Paifang")
      li.photo(data-src="images/hidden-cat.jpg" data-responsive="images/hidden-cat-400w.jpg 500, images/hidden-cat-600w.jpg 700")
        img.lazyload(data-src="images/hidden-cat-400w.jpg" alt="Peek a Boo!")
      li.photo(data-src="images/zen.jpg" data-responsive="images/zen-400w.jpg 500, images/zen-600w.jpg 700")
        img.lazyload(data-src="images/zen-400w.jpg" alt="Zen")
      li.photo(data-src="images/yokohama-scenery.jpg" data-responsive="images/yokohama-scenery-400w.jpg 500, images/yokohama-scenery-600w.jpg 700")
        img.lazyload(data-src="images/yokohama-scenery-400w.jpg" alt="Overlook of Yokohama City")
      li.photo(data-src="images/yokohama-sunset.jpg" data-responsive="images/yokohama-sunset-400w.jpg 500, images/yokohama-sunset-600w.jpg 700")
        img.lazyload(data-src="images/yokohama-sunset-400w.jpg" alt="Sunset")
  include footer
