.l-2-column-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  > figure {
    flex-basis: 100%;
    height: 48vh;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .l-2-column-grid {
    > figure {
      flex-basis: 45%;
    }
  }
}


.l-3-column-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  > img {
    height: 36vh;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .l-3-column-grid {
    > img {
      flex-basis: 33%;
    }
  }
}
