.l-2-3-column-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > img {
    justify-content: center;
    width: calc(100% - 6rem);
  }

  > div {
    width: calc(100% - 6rem);
  }

}

@media (min-width: 700px) {
  .l-2-3-column-grid {
    flex-wrap: nowrap;

    > img {
      width: calc(33% - 6rem);
    }

    > div {
      width: calc(66% - 6rem);
    }
  }

}

.l-2-column-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  > figure {
    justify-content: center;
    width: calc(100% - 8rem);
  }
}

@media (min-width: 700px) {
  .l-2-column-grid {
    > figure {
      width: calc(50% - 8rem);
    }
  }
}


.l-3-column-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;

  li {
    width: calc(100% - 0.25rem);
  }
}

@media (min-width: 700px) {
  .l-3-column-grid {
    li {
      width: calc(33% - 0.25rem);
    }
  }
}
