.l-2-column-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  > figure {
    justify-content: center;
    width: calc(100% - 8rem);
  }
}

@media (min-width: 700px) {
  .l-2-column-grid {
    > figure {
      width: calc(50% - 8rem);
    }
  }
}


.l-3-column-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;

  img {
    height: 36vh;
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .l-3-column-grid {
    img {
      flex-basis: 33%;
    }
  }
}
