.project-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: $project-card-background-color;
  text-align: center;

  &:hover {
    .project-card-title {
      transform: scale(0.9);
    }

    .project-description::before,
    .project-card-sub-title {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }

    .project-description {
      background-color: rgba(58, 52, 42, 0);
    }

    .project-card-image {
      opacity: 0.4;
    }
  }
}

.project-card-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
  transition: opacity 0.35s;
  position: relative;
}

.project-tokyo {
  .project-card-image {
    background-image: url("images/tokyo-station.jpg");
  }
}

.project-yokohama {
  .project-card-image {
    background-image: url("images/yokohama.jpg");
  }
}

.project-hiroshima {
  .project-card-image {
    background-image: url("images/torii.jpg");
  }
}

.project-hong-kong {
  .project-card-image {
    background-image: url("images/kowloon.jpg");
  }
}

.project-description {
  color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3.6rem;
  backface-visibility: hidden;
}

.project-description::before {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  bottom: 2.4rem;
  left: 2.4rem;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2.4rem rgba(255, 255, 255, 0.2);
  content: "";
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale3d(1.4, 1.4, 1);
}

.project-card-title {
  font-family: "Lato", sans-serif;
  transition: transform 0.35s;
  margin: 0;
}

.project-card-sub-title {
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.5);
}
