html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  text-align: center;
  background: #fafafa;
  color: #212121;
  margin: 0 auto;
}
