html {
  box-sizing: border-box;
  font-size: 14px;
  overflow: scroll;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  min-height: 100vh;
  font-family: 'Merriweather', serif;
  text-align: center;
  background: #fafafa;
  color: #212121;
  margin: 0 auto;
}

section {
  padding: 2.4rem;
}
